<h1>Listing exam_codes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exam_codes.each do |exam_code| %>
  <tr>
    <td><%= exam_code.name %></td>
    <td><%= link_to 'Show', exam_code %></td>
    <td><%= link_to 'Edit', edit_exam_code_path(exam_code) %></td>
    <td><%= link_to 'Destroy', exam_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam code', new_exam_code_path %>
