<%= form_for(@score_card) do |f| %>
  <% if @score_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_card.errors.count, "error") %> prohibited this score_card from being saved:</h2>

      <ul>
      <% @score_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total %><br />
    <%= f.number_field :total %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :exam_code_id %><br />
    <%= f.number_field :exam_code_id %>
  </div>
  <div class="field">
    <%= f.label :gradeable %><br />
    <%= f.number_field :gradeable %>
  </div>
  <div class="field">
    <%= f.label :gradeable_type %><br />
    <%= f.text_field :gradeable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
