<h1>Listing score_cards</h1>

<table>
  <tr>
    <th>Total</th>
    <th>Score</th>
    <th>Exam code</th>
    <th>Gradeable</th>
    <th>Gradeable type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @score_cards.each do |score_card| %>
  <tr>
    <td><%= score_card.total %></td>
    <td><%= score_card.score %></td>
    <td><%= score_card.exam_code_id %></td>
    <td><%= score_card.gradeable %></td>
    <td><%= score_card.gradeable_type %></td>
    <td><%= link_to 'Show', score_card %></td>
    <td><%= link_to 'Edit', edit_score_card_path(score_card) %></td>
    <td><%= link_to 'Destroy', score_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Score card', new_score_card_path %>
