<%- model_class = RequestingMd -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @requesting_md.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:positive_exams) %>:</strong></dt>
  <dd><%= @requesting_md.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_exams) %>:</strong></dt>
  <dd><%= @requesting_md.name %></dd>
</dl>

<div class="form-actions">
</div>
