<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pseudo_mrn) %></th>
      <th><%= model_class.human_attribute_name(:accession_number) %></th>
      <th><%= model_class.human_attribute_name(:dob) %></th>
      <th><%= model_class.human_attribute_name(:department) %></th>
      <th><%= model_class.human_attribute_name(:exam_code) %></th>
      <th><%= model_class.human_attribute_name(:exam_date) %></th>
      <th><%= model_class.human_attribute_name(:requesting_md_id) %></th>
      <th><%= model_class.human_attribute_name(:attending_id) %></th>
      <th><%= model_class.human_attribute_name(:report) %></th>
      <th><%= model_class.human_attribute_name(:impression) %></th>
      <th><%= model_class.human_attribute_name(:positivity) %></th>
      <th><%= model_class.human_attribute_name(:certainty) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.id, report_path(report) %></td>
        <td><%= report.pseudo_mrn %></td>
        <td><%= report.accession_number %></td>
        <td><%= report.dob %></td>
        <td><%= report.department %></td>
        <td><%= report.exam_code.name %></td>
        <td><%= report.exam_date %></td>
        <td><%= report.requesting_md_id %></td>
        <td><%= report.attending_id %></td>
        <td><%= report.report %></td>
        <td><%= report.impression %></td>
        <td><%= report.positivity %></td>
        <td><%= report.certainty %></td>
        <td><%=l report.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_report_path(report), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      report_path(report),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>
