<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:accession_number) %>:</strong></dt>
  <dd><%= @report.accession_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
  <dd><%= @report.dob %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_code) %>:</strong></dt>
  <dd><%= @report.exam_code.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_date) %>:</strong></dt>
  <dd><%= @report.exam_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:requesting_md) %>:</strong></dt>
  <dd><%= @report.requesting_md.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attending) %>:</strong></dt>
  <dd><%= @report.attending.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:radiologist) %>:</strong></dt>
  <dd><%= @report.radiologist.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:impression) %>:</strong></dt>
  <dd><%= @report.impression %></dd>
  <dt><strong><%= model_class.human_attribute_name(:positivity) %>:</strong></dt>
  <dd><%= @report.positivity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:certainty) %>:</strong></dt>
  <dd><%= @report.certainty %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              reports_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_report_path(@report), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              report_path(@report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
